@using Microsoft.AspNetCore.Http;

@model Tuple<Assignment2.Models.BlogPost, Assignment2.Models.User, IEnumerable<Assignment2.Models.Comment>, IEnumerable<Assignment2.Models.User>>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}

@if (Model == null || Model.Item1 == null || Model.Item2 == null)
{
    <h3>404 - Post doesn't exist!</h3>
}
else
{
    <div>
        <h3>@Model.Item1.Title</h3>
        <h6>By @Model.Item2.FirstName @Model.Item2.LastName (<i>@Model.Item2.EmailAddress</i>) - Posted @Model.Item1.Posted</h6>
        <p>@Model.Item1.Content</p>
    </div>
    @if (Context.Session.GetInt32("isLoggedIn").Equals(1))
    {
        <hr />
        <h3>Post Comment</h3>
        <form asp-controller="Home" asp-action="DisplayFullBlogPost" method="post">
            <table>
                <tr>
                    <td><input type="text" name="CommentContent" required /></td>
                </tr>
            </table>
            <input type="submit" value="Submit" />
        </form>
    }

    <hr />
    <h3>User Comments</h3>

    @if (Model.Item3 != null && Model.Item4 != null && Model.Item3.Count() > 0)
    {
        @foreach (var comment in Model.Item3)
        {
            var commenter = Model.Item4.Where(user => user.UserId.Equals(comment.UserId)).FirstOrDefault();
            <div>
                <p><b>@commenter.FirstName @commenter.LastName : </b>@comment.Content</p>

            </div>

        }

    } else
    {
        <p>No comments at this time.</p>
    }
}

